.group-block {
  height:380px;
  background-color: $background-dark;
  color:white;
  margin:auto;
  border-radius:5px;
  box-shadow:0 0 10px $background-dark;
}
.group-details-name {
  font-family: LifeCraft, serif;
  font-size:32px;
  color:$main-title;
  position:relative;
  &:after {
    content:"";
    width:90%;
    height:1px;
    background-color: $main-background;
    position:absolute;
    left:5%;
  }

}
.role-icon {
  border:2px solid $main-background;
}
.second-row-group-details {
  width:90%;
}
