.user-username {
  font-family: LifeCraft, sans-serif;
  font-size: 48px;
}

.user-infos-block, .user-specificities-block, .user-characters-block {
  background-color: $background-dark;
  border-radius: 5px;
  box-shadow: 0 0 10px $background-dark;
}

.user-infos-text {
  color: white;
  font-family: "Roboto Thin", serif;
  vertical-align: center;
}

.user-block-title {
  font-family: LifeCraft, serif;
  color: $main-title;
  position: relative;
  line-height: 48px;

  &:after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: $main-background;
    position: absolute;
    left: 5%;
    bottom: 0;
  }
}

.battletag, .discord {
  border: 1px solid #0074E0;
  background-color: #0074E0;
  height: 60px;
  border-radius: 5px;
  width: 30%;
  padding-top: 5px;
}

.battletag {
  border: 1px solid #0074E0;
  background-color: #0074E0;
}

.discord {
  border: 1px solid #5865F2;
  background-color: #5865F2;
}

.user-characters-block {
  padding-bottom:30px;
}

.user-character-block {
  border: 2px solid $main-title;
  background-color: $main-title;
  border-radius: 5px;
  box-shadow: 0 0 10px $main-title;
}

.user-character-pseudo {
  font-family: "Roboto Thin", serif;
  font-size: 1.5rem;
  position:absolute;
  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $background-dark;
    position: absolute;
    left: 5%;
    bottom: 0;
  }
}