<div class="navbar">
    <a href="{{ path('app_home') }}">
        <div class="logo">
            <p class="main-title-navbar">Looking For Group</p>
        </div>
    </a>
    <div class="user-navbar-block">
        BLOCK USER
    </div>
    <div class="logs-link">
        <button class="btn btn-primary"><a href="{{ path('app_logout') }}">Log Out</a></button>
    </div>

</div>