<div class="navbar">
    <div class="logo">
        <p>Looking For Group</p>
    </div>
    <div class="user-navbar-block">
        BLOCK USER
    </div>
    <div class="logs-link">
        <button class="btn btn-primary"><a href="{{ path('app_logout') }}">Log Out</a></button>
    </div>

</div>