<nav class="navbar navbar-dark navbar-expand-lg navbar-override">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">Looking For Fifous</a>
        <div class="logins-buttons">
            <a href="{{ path('app_register') }}"><button class="btn btn-primary">Sign up</button></a>
            <a href="{{ path('app_login') }}"><button class="btn btn-primary">Log in</button></a>
        </div>
    </div>
</nav>